
/* HOME */

#home {
    height:auto;
    justify-content:center;
}

#home #home_left {
    margin-top:50px;
}

#home #home_right {
    margin-left:0;
}

#home #home_right img {
    width:80%;
}

@keyframes slideinhomeimg {
  from {
    margin-left: 40%;
    width:80%;
  }

  to {
    margin-left: 5%;
    width:80%;
  }
}

/* ABOUT */

#about_left>img {
    height: 80%;
}

/* EXPERIENCE */

.experience .content ul {
    width:680px;
    margin:0 auto;
}

.experience .content ul li {
    margin: 0;
}

.experience .content ul li .experience-content {
    position:initial;
    margin-left:39px;
    border-radius:0px 5px 5px 5px !important;
}

.experience .content ul li:nth-child(even) .experience-content:before {
    left:-50px;
}

/* PROJETS */

#projects {
    height:auto;
    padding-bottom:100px;
}

#projects_content {
    grid-template-columns:1fr 1fr;
    grid-template-rows:1fr 1fr;
    gap:50px;
}

/* CONTACT */

#contact #form_contact form>div {
    justify-content: space-evenly;
    width:100vw;
}

#contact #form_contact form div #intro {
    margin:0;
    width:35%;
}

#contact #form_contact form div #intro .input {
    width:90%;
}

#content {
    width:40%;
}

#content > div.input {
    width:100%;
}

#contact #form_contact form .input textarea {
    width:90%;
}