/* IMPORTATION DES FONTS */

@font-face {
    font-family: 'open_sanslight';
    src: url('../font/opensans-light-webfont.woff2') format('woff2'), url('../font/opensans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansregular';
    src: url('../font/opensans-regular-webfont.woff2') format('woff2'), url('../font/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanssemibold';
    src: url('../font/opensans-semibold-webfont.woff2') format('woff2'), url('../font/opensans-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* GENERAL */

html {
    scroll-behavior: smooth;
}

h1 {
    font-weight: unset !important;
    text-align: center;
    font-size: 55px;
}

.rect_style {
    width: 60px;
    height: 5px;
    background-color: white;
    margin-right: 25px;
}

#about:target {
    padding-top: 80px;
}

#experience:target {
    padding-top: 80px;
}

#skills:target {
    padding-top: 80px;
}

#projects:target {
    padding-top: 80px;
}

#contact:target {
    padding-top: 80px;
}

/* STYLES CSS */

/* HEADER */

* {
    margin: 0;
    padding: 0;
    font-family: 'open_sansregular';
}

#index {
    color: white;
}

#header {
    background-color: #0A0A0A;
    position: sticky;
    top: 0;
    z-index: 1;
}

#header>nav {
    display: flex;
}

#header>nav>ul {
    display: flex;
}

.left {
    margin-left: 5%;
}

.right {
    position: absolute;
    right: 5%;
}

nav li {
    list-style: none;
    padding: 29px;
}

nav a {
    text-decoration: none;
    color: white !important;
}

a:hover {
    text-decoration: underline;
}

/* HOME */

#home {
    background: linear-gradient(to right, #00030B, 88%, #9A9C9F);
    display: flex;
    height: 80%;
}

/* HOME LEFT */

#home_left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

#home_left_content {
    margin: 0% 0% 90px 20%;
}

#home p {
    font-size: 23px;
}

.home_space {
    margin: 0px 0px 25px 0px;
}

#home_left h1 {
    font-size: 70px !important;
    text-align: left;
}

#surname {
    margin-left: 65px;
    margin-bottom: 30px;
}

/* JOB */

#job {
    display: flex;
    align-items: center;
}

#job>#home_rect {
    width: 60px;
    height: 5px;
    background: linear-gradient(to right, #00030B, 85%, #9A9C9F);
    margin-right: 15px;
}

/* HOME RIGHT */

#home_right {
    display: flex;
    align-items: flex-end;
    width: 50%;
    margin-top:8.6%;
}

#home_right>img {
    width: 570px;
    filter: brightness(0.5);
    margin-left: 5%;
}

/* ABOUT */

#about {
    background-color: #191B25;
}

#about_title {
    width: 100%;
    padding: 30px 0px 30px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#about_title #about_title_rect {
    background: linear-gradient(to right, #191B25, 85%, #9A9C9F);
}

#about_content {
    display: flex;
    justify-content: space-around;
    height: 79%;
    padding-top: 2%;
}

/* ABOUT_LEFT */

#about_left {
    display: flex;
    justify-content: center;
    height:690px;
}

#about_left>img {
    height: 80%;
}

/* ABOUT_RIGHT */

#about_right {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 555px;
}

#about_right h3 {
    border-bottom: 1px solid white;
}

#about_right #technologies #tech_images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#about_right #technologies #tech_images .technologie {
    width: 9%;
    margin: 3% 4% 0% 4%;
}

#about_right #technologies #tech_images img {
    width: 100%;
}

/* EXPERIENCE */

#experience {
    background-color: #3C3D4B;
}

.experience #experience_title_rect {
    background: linear-gradient(to right, #3C3D4B, 85%, #9A9C9F);
}

.experience {
    background: #002440;
    padding: 50px 0;
    overflow-x: hidden;
}

.experience .content {
    text-align: center;
}

.experience .content ul {
    list-style-type: none;
}

.experience .content ul li {
    background: #f5f5f5;
    position: relative;
    margin-left: 20px;
    width: 5px;
    padding-bottom: 40px;
    margin: 0 auto;
}

.experience .content ul li:last-child {
    padding-bottom: 7px;
}

.experience .content ul li:before {
    content: '';
    background: #002440;
    position: absolute;
    left: 50%;
    top: 0;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 20px;
    height: 20px;
    border: 4px solid #f5f5f5;
}

.experience .content ul li .experience-content {
    background: #f5f5f5;
    position: relative;
    top: 7px;
    left: 48px;
    width: 600px;
    padding: 20px;
    text-align: center;
    -webkit-border-radius: 0 5px 5px;
    -moz-border-radius: 0 5px 5px;
    border-radius: 0 5px 5px;
}

.experience .content ul li .experience-content h2 {
    font-size: 1.5em;
    color: #3c3c3c !important;
    padding-bottom: 10px;
}

.experience .content ul li .experience-content .experience-time {
    color: #777 !important;
    font-size: 1.1em;
    padding-bottom: 10px;
}

.experience .content ul li .experience-content p {
    color: #1a1a1a !important;
    font-size: .95em;
}

.experience .content ul li .experience-content:before {
    content: '';
    background: #f5f5f5;
    position: absolute;
    top: 0;
    left: -35px;
    width: 35px;
    height: 5px;
}

.experience .content ul li:nth-child(odd) .experience-content {
    left: 63px;
}

.experience .content ul li:nth-child(odd) .experience-content:before {
    left: -50px;
    width: 50px;
}

.experience .content ul li:nth-child(even) .experience-content {
    left: -698px;
    -webkit-border-radius: 5px 0px 5px 5px;
    -moz-border-radius: 5px 0px 5px 5px;
    border-radius: 5px 0px 5px 5px;
}

.experience .content ul li:nth-child(even) .experience-content:before {
    left: auto;
    right: -50px;
    width: 50px;
}

/* animation */

.experience-content {
    transform: translateX(0);
    opacity: 1;
    transition: transform 0.4s, opacity 0.4s;
}

.experience-content.exp-droite.not-visible {
    transform: translateX(50px);
    opacity: 0;
}

.experience-content.exp-gauche.not-visible {
    transform: translateX(-100px);
    opacity: 0;
}

/* SKILLS */

#skills {
    background-color: #191B25;
    color: white;
}

#skills #skills_title_rect {
    background: linear-gradient(to right, #191B25, 85%, #9A9C9F);
}

.skills .content {
    margin-top: 100px;
}

.skills .content .development-wrapper .skills-bar-container {
    position: relative;
    width: 65%;
    list-style-type: none;
    margin: 0px auto 0px auto;
    padding-bottom: 8%;
}

.skills .content .development-wrapper .skills-bar-container li:not(:last-child) {
    width: 100%;
    margin-bottom: 20px;
}

.skills .content .development-wrapper .skills-bar-container li .progressbar-title {
    margin-bottom: 5px;
}

.skills .content .development-wrapper .skills-bar-container li .progressbar-title h3 {
    display: inline-block;
}

.skills .content .development-wrapper .skills-bar-container li .progressbar-title .percent {
    position: absolute;
    right: 20px;
    font-size: 1.1em;
}

.skills .content .development-wrapper .skills-bar-container li .bar-container {
    background: #ececec;
    position: relative;
    width: 100%;
    height: 10px;
}

.skills .content .development-wrapper .skills-bar-container li .bar-container .progressbar {
    background: #34495e;
    position: absolute;
    width: 0%;
    height: 100%;
}

.skills .content .tools-knowledge-wrapper {
    width: 100%;
}

.skills .content .tools-knowledge-wrapper .tools-wrapper, .skills .content .tools-knowledge-wrapper .knowledge-wrapper {
    position: relative;
    padding: 20px 0;
    width: 100%;
    text-align: center;
}

.skills .content .tools-knowledge-wrapper .tools-wrapper .title, .skills .content .tools-knowledge-wrapper .knowledge-wrapper .title {
    color: #3c3c3c;
    font-size: 2em;
    margin-bottom: 10px;
}

.skills .content .tools-knowledge-wrapper .tools-wrapper ul, .skills .content .tools-knowledge-wrapper .knowledge-wrapper ul {
    list-style-type: none;
    margin-left: 40px;
}

.skills .content .tools-knowledge-wrapper .tools-wrapper ul li, .skills .content .tools-knowledge-wrapper .knowledge-wrapper ul li {
    color: #444;
    font-weight: bold;
    font-size: 1.1em;
    text-align: left;
}

.skills .content .tools-knowledge-wrapper .tools-wrapper ul li i, .skills .content .tools-knowledge-wrapper .knowledge-wrapper ul li i {
    color: #27ae60;
}

/* PROJECTS */

#projects {
    background-color: #3C3D4B;
}

#projects #projects_title_rect {
    background: linear-gradient(to right, #3C3D4B, 85%, #9A9C9F);
}

#projects_content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 70%;
    margin: 0 auto;
    padding: 10px 0px 40px 0px;
    row-gap: 50px;
}

.card {
    margin: 0 auto;
    height: 290px;
}

.card:hover>img {
    opacity: 0.5;
    transition:0.5s;
}

.card-body {
    display: none;
    position: relative;
    bottom: 230px;
    left: 40px;
    width: 80%;
}

.card:hover>.card-body {
    display: block;
}

.card-text {
    padding: 20px 0px 20px 0px;
}

.card-title {
    text-align: center;
    width: 90%;
    font-size: 19px;
}

.card .btn {
    margin-left:29%;
    text-decoration:none;
    color:white;
    border:1px solid black;
    padding:5px 10px;
    border-radius:10px;
}

.card .btn:hover {
    background-color:black;
    opacity: 0.7;
    transition:0.5s;
}

/* CONTACT */

#contact {
    background-color: #191B25;
}

#contact #contact_title_rect {
    background: linear-gradient(to right, #191B25, 85%, #9A9C9F);
}

#contact #form_contact form {
    display: flex;
    flex-direction: column;
    padding-bottom: 1%;
}

#contact #form_contact form>div {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

#contact #form_contact form div #intro {
    margin-left: 4%;
}

#contact #form_contact form .input {
    margin: 50px 0px 50px 0px;
}

#contact #form_contact form .input input {
    padding: 15px 300px 15px 10px;
    background-color: #3C3D4B;
    border: 1px solid white;
    border-radius: 0;
}

#contact #form_contact form .input textarea {
    padding: 15px 300px 21px 10px;
    background-color: #3C3D4B;
    border: 1px solid white;
    margin-top: 33px;
    border-radius: 0;
}

#contact #form_contact form button {
    width: 17%;
    margin: 0 auto;
    padding: 13px 0px 13px 0px;
    background-color: orange;
    border-radius: 30px;
    font-size: 20px;
}

#contact #form_contact form a {
    margin: 0 auto;
}

/* FOOTER */

#footer {
    background-color: #0A0A0A;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#footer #reseaux {
    display: flex;
    justify-content: space-evenly;
    padding-top: 15px;
    width: 50%;
    margin: 0 auto;
}

#footer #reseaux a img {
    width: 50px;
    color: white;
}

#footer>a {
    margin-top: 20px;
    text-align: center;
    color:white;
}




/* PAGES PROJETS */

#project_content {
    background-color: #F0F0F0;
    color: black !important;
    display: flex;
    justify-content: space-around;
    height: 79vh;
    align-items: center;
}

#project_content #project_img img {
    width: 200px;
}

#project_text_content {
    padding: 78px;
    width: 55%;
}

#project_img {
    margin-left: 10%;
}

.project_node {
    border: 7px solid #88CC89;
}

.project_unreal {
    border: 7px solid black;
}

.project_wordpress {
    border: 7px solid #00769d;
}